


#attributation {

	display: inline-flex;

	figure{
		display: block;
		text-align: left;
		padding: 16px;
		border-style: solid;
		border-width: 0.2rem;
		border-color: #AAAAAA;
	}

	figcaption {
		font-size: smaller;
	}
	
	img {
		height: 25mm;
		margin: 12.5mm;
	}

}