

/* Styling top navigation menu */
nav.top-menu {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: var(--main-bg-color);
	display: flex;

	a {
		display: inline-flex;
		color: var(--main-fg-color);
		text-align: left;
		padding: 16px;
		text-decoration: none;
	}
	a:hover {
		background-color: var(--main-focus-bg-color);
	}
	a.current-url {
		background-color: var(--main-selected-bg-color);
	}
}