/* define constants for background colours etc. here */
:root {
	--main-fg-color: #FFFFFF;
	--main-bg-color: #333333;
	--main-selected-bg-color: #555555;
	--main-focus-bg-color: #111111;
	
	--secondary-bg-color: #AAAAAA;
	--secondary-fg-color: #0000AA;
}


nav.top-menu {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: var(--main-bg-color);
	display: flex;
}

nav.top-menu a{
	display: inline-flex;
	color: var(--main-fg-color);
	text-align: left;
	padding: 16px;
	text-decoration: none;
}

nav.top-menu a:hover {
	background-color: var(--main-focus-bg-color);
}

nav.top-menu a.current-url {
	background-color: linear-gradient(var(--main-selected-bg-color), var(--secondary-bg-color));
}

nav.breadcrumb {
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-align: left;
	font-size: small;
	color: var(--secondary-fg-color);
	background-color: var(--secondary-bg-color);
}

nav.breadcrumb a{
	display: inline-flex;
	text-align: center;
	text-decoration: none;
}
nav.breadcrumb a:hover{
	text-decoration: underline;
}

nav.breadcrumb span.breadcrumb-sep{
	display: inline-flex;
	text-align: center;
}

pre.debugging {
	color: red;
}

footer {
	font-size: x-small;
}