
/* imports */
@import "syntax-highlighting.css";

/* define constants for background colours etc. here */
:root {
	--main-fg-color: #FFFFFF;
	--main-bg-color: #333333;
	--main-selected-bg-color: #555555;
	--main-focus-bg-color: #111111;
	
	--secondary-bg-color: #CCCCCC;
	--secondary-fg-color: #000000;
	
	--heading-font-size: x-large;
	--subheading-font-size: large;
}

/* Styling defaults for everything */
* {
	font-family: didcot, serif;
	/*font-family: helvetica, sans-serif;*/
}

/* Styling defaults for preformatted-text and code */
pre, code {
	font-family: courier, monospace;
	tab-size: 4;
	font-size: normal;
}
pre {
	padding: 1em;
	border: solid;
	border-width: 2px;
	border-color: var(--secondary-bg-color);
	width: auto;
	overflow: scroll;
}


/* Footer default styling */
footer {
	position: static;
	top: auto;
	font-size: x-small;
}


/* Styling tables */
table {
	border: 1px solid var(--secondary-bg-color);
	text-align: center;
	border-collapse: collapse;

	th, td{
		font-weight: normal;
		border-style: none solid none none;
		border-color: var(--main-bg-color);
		border-width: 1px;
		padding: 0.2em;
	}
	td:last-child, th:last-child{
		border-right-style: none;
	}
	tr:last-child th{
		border-bottom-style: solid;
	}
}



/* Styling top navigation menu */
nav.top-menu {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: var(--main-bg-color);
	display: flex;

	a {
		display: inline-flex;
		color: var(--main-fg-color);
		text-align: left;
		padding: 16px;
		text-decoration: none;
	}
	a:hover {
		background-color: var(--main-focus-bg-color);
	}
	a.current-url {
		background-color: var(--main-selected-bg-color);
	}
}


/* Styling breadcrumb trail */
nav.breadcrumb {
	display: flex;
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-align: left;
	font-size: small;
	color: var(--secondary-fg-color);
	background-color: var(--secondary-bg-color);

	a {
		padding: 0.2em;
		display: inline-flex;
		text-align: center;
		text-decoration: none;
	}
	a:hover {
		text-decoration: underline;
	}
	span.breadcrumb-sep {
		padding: 0.2em;
		display: inline-flex;
		text-align: center;
	}
}


.table-of-contents-container{
	z-index: 1;
	display: block;
	position: relative;
	float: right;
	
	height: 3em;
	width: 18em;
	
	border-style: solid;
	border-width: 1px;
	border-color: var(--secondary-bg-color);
	background-color: #FFFFFFEE;
	
	overflow: hidden;

}

.table-of-contents{
	h2 {
		text-align: right;
		margin-top: 0.2em;
	}
	h2:after {
		content: "  \25C1";
	}
	font-size: small;
	padding-left: 1em;
	padding-right: 1em;
	margin: 0em;
	border-style: solid;
	border-width: 1px;
	border-color: var(--secondary-bg-color);
	background-color: #FFFFFFEE;
	
	.table-of-contents-list-container {
		display: block;
	}
	
}

.table-of-contents-container:hover, .table-of-contents:focus {
	overflow: visible;
	border-style: none;
	
	.table-of-contents-list-container {
		display: block;
	}
	h2:after{
		content: "  \25BD";
	}
}



/* Layout table of contents 
section.table-of-contents {
	 z-index: 1;
	position: absolute;
	   right: 8px;
	 display: block;
	   float: right;
	  height: 32px;
	   width: 18em;
}

/* Styling table of contents
section.table-of-contents {
	       font-size: small;
	        overflow: hidden;
	    padding-left: 0em;
	   padding-right: 1em;
	          margin: 0em;
	    border-style: solid;
	    border-width: 1px;
	    border-color: var(--secondary-bg-color);
	background-color: #FFFFFFEE;

	h2 {
		text-align: right;
		margin-top: 0.2em;
	}
	h2:after {
		content: "  \25C1";
	}
	
	
	/* Enable table of contents numbering like "2.1.3.2 "
	ol:before {
		content: "";
		counter-reset: item;
	}
	li {
		counter-increment: item;
	}
	li:before { 
		content: counters(item, ".") " "; 
	}
	li { 
		display: block 
	}
}

/* Actions on table of contents 
section.table-of-contents:hover, section.table-of-contents:focus-within {
	height: auto;
	width: auto;

	h2:after{
		content: "  \25BD";
	}
}
*/




/* Styling content */
#content {
	position: relative;
	top: 14px;
	padding:0px;
	margin:0px;
	width:100%;
	
	/*clear: both;*/
	h1, h2, h3, h4, h5, h6{
		margin-top: 20px;
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 0.2em;
		padding-right: 0.2em;
	}
}






/* Section numbers for headings in content like "2.1.3.5" */
#content{
	section {
		counter-reset: h1c;
	}
	h1 {
		counter-reset: h2c;
		counter-increment: h1c;
	}
	h2 {
		counter-reset: h3c;
		counter-increment: h2c;
	}
	h3 {
		counter-reset: h4c;
		counter-increment: h3c;
	}
	h4 {
		counter-reset: h5c;
		counter-increment: h4c;
	}
	h5 {
		counter-reset: h6c;
		counter-increment: h5c;
	}
	h6 {
		counter-increment: h6c;
	}
	h1:before {
		content: counter(h1c)" ";
	}
	h2:before {
		content: counter(h1c)"."counter(h2c)" ";
	}
	h3:before {
		content: counter(h1c)"."counter(h2c)"."counter(h3c)" ";
	}
	h4:before {
		content: counter(h1c)"."counter(h2c)"."counter(h3c)"."counter(h4c)" ";
	}
	h5:before {
		content: counter(h1c)"."counter(h2c)"."counter(h3c)"."counter(h4c)"."counter(h5c)" ";
	}
	h6:before {
		content: counter(h1c)"."counter(h2c)"."counter(h3c)"."counter(h4c)"."counter(h5c)"."counter(h6c)" ";
	}

	h1, h2, h3 {
		font-size: var(--heading-font-size);
		font-weight: bold;
	}
	h4, h5, h6 {
		font-size: var(--subheading-font-size);
	}
	h1 {
		background-color: var(--main-bg-color);
		color : var(--main-fg-color);
	}

	h2 {
		background-color: var(--secondary-bg-color);
		/*color : var(--main-fg-color);*/
	}
	h3:after {
		content: "";
		display:block;
		border:2px solid var(--secondary-bg-color);
	}
	h4 {
		font-weight: bold;
	}
	h5 {
		text-transform: uppercase;
		font-weight: normal;
	}
	h5 {
		font-style: italic;
		font-weight: normal;
	}
}









