

{% assign random_number = "now" | date: "%N" | modulo: 1000 | plus: 0 %}

<details class="concertina-page {{include.class | default ''}}" ontoggle="this.scrollIntoView()">
	<summary>{{include.heading}}</summary>
	
	<div>
		<ul class="tab-bar">
			{% for tab in include.tabs %}
				{% if forloop.index == 1 %}
					<li active="true"onclick="document.getElementById('tab-contents-{{random_number}}').setAttribute('src', '{{site.baseurl}}/{{tab.url}}');for(const child of this.parentNode.children){child.setAttribute('active','false');};this.setAttribute('active','true');">{{tab.name}}</li>
				{% else %}
					<li active="false"onclick="document.getElementById('tab-contents-{{random_number}}').setAttribute('src', '{{site.baseurl}}/{{tab.url}}');for(const child of this.parentNode.children){child.setAttribute('active','false');};this.setAttribute('active','true');">{{tab.name}}</li>
				{% endif %}
			{% endfor %}
		</ul>
		{% assign first_tab = include.tabs | first %}
		<iframe id="tab-contents-{{random_number}}" src="{{site.baseurl}}/{{first_tab.url}}"></iframe>
	</div>
	
</details>
