<html>
<head>
<style>
ul.nav-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul.nav-menu li {
  float: left;
}

ul.nav-menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

ul.nav-menu li a:hover {
  background-color: #111111;
}
</style>
</head>
<body>
<ul class="nav-menu">
  <li><a href="/aopp_obs_toolchain/index.html">Home</a></li>
  <li><a href="/aopp_obs_toolchain/getting_started/index.html">Getting Started</a></li>
  <li><a href="/aopp_obs_toolchain/examples/index.html">Examples</a></li>
  <li><a href="/aopp_obs_toolchain/documentation/index.html">Documentation</a></li>
</ul>

</body>
</html>

