<html>
<head>
<style>

nav.top-menu {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  display: flex;
}
nav.top-meu a{
  display: inline-flex;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

nav.top-meu a:hover {
  background-color: #111111;
}
</style>
</head>
<body>
<nav class="top-menu">
  <a href="/aopp_obs_toolchain/index.html">Home</a>
  <a href="/aopp_obs_toolchain/getting_started/index.html">Getting Started</a>
  <a href="/aopp_obs_toolchain/examples/index.html">Examples</a>
  <a href="/aopp_obs_toolchain/documentation/index.html">Documentation</a>
</nav>

</body>
</html>

