<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ page.title }}</title>
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
		
	</head>
	
	<body>
		{% include top-menu.html %}
		{% include breadcrumb.html %}

		<div>
			<section id="table-of-contents" class="table-of-contents">
			</section>
		</div>
		
		<div>
			<section id="content">
				{{ content }}
			</section>
		</div>
		<footer>
			default template
		</footer>
		
		<script type="module">
			import {TableOfContents} from '{{ site.baseurl }}/assets/js/toc.js'
			
			window.onload = function() {
				const toc = TableOfContents.from_headings_in(
					document.getElementById('content')
				)
				toc.as_child_of(
					document.getElementById('table-of-contents')
				)
			}
		</script>
	</body>
</html>
