<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ page.title }}</title>
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
		
	</head>
	
	<body>
		{% include top-menu.html %}
		{% include breadcrumb.html %}

		<div class="table-of-contents-container">
			<section class="table-of-contents">
				<div class="table-of-contents-heading-container" tabindex="0">
					<h2 class="table-of-contents-heading">Table of Contents</h2>
				</div>
				<div class="table-of-contents-list-container" tabindex="1"></div>
			</section>
		</div>

		
		<section id="content">
			{{ content }}
		</section>
		
		<footer>
			default template
		</footer>
		
		<script type="module">
			import {TableOfContents} from '{{ site.baseurl }}/assets/js/toc.js'
			
			window.onload = function() {
				const toc = TableOfContents.from_headings_in(
					document.getElementById('content')
				)
				
				for (const element of document.getElementsByClassName('table-of-contents-list-container')){
					toc.as_child_of(element)
				}
			}
		</script>
	</body>
</html>
