<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ page.title }}</title>
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
		
	</head>
	<body>
		{% include top-menu.html %}
		{% include breadcrumb.html %}
	<section id="toc">
	</section>
	<section id="content">
		<!--
		<pre class="debugging">
			{{ page.content }}
		</pre>
		-->
	
		{{ content }}
	</section>
	<footer>
		default template
	</footer>
	
	<script>
		window.onload = function () {
			console.log('HELLO WORLD')
			var toc = "";
			var level = 0;

			for (const item of document.querySelectorAll("h1, h2, h3, h4, h5, h6")){
				console.log(item)
			}

			document.getElementById("content").innerHTML =
				document.getElementById("content").innerHTML.replace(
					/<h([\d])>([^<]+)<\/h([\d])>/gi,
					function (str, openLevel, titleText, closeLevel) {
						console.log(str, openLevel, titleText, closeLevel)
						if (openLevel != closeLevel) {
							return str;
						}

						if (openLevel > level) {
							toc += (new Array(openLevel - level + 1)).join("<ul>");
						} else if (openLevel < level) {
							toc += (new Array(level - openLevel + 1)).join("</ul>");
						}

						level = parseInt(openLevel);

						var anchor = titleText.replace(/ /g, "_");
						toc += "<li><a href=\"#" + anchor + "\">" + titleText
							+ "</a></li>";

						return "<h" + openLevel + "><a name=\"" + anchor + "\">"
							+ titleText + "</a></h" + closeLevel + ">";
					}
				);

			if (level) {
				toc += (new Array(level + 1)).join("</ul>");
			}

			document.getElementById("toc").innerHTML += toc;
		};
	</script>
	</body>
</html>
